* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
header {
  border-bottom: 1px solid gray;
  align-items:center;
}

header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color:black;
  margin: 15px;
}

/* }
header {
  justify-content: space-around;
  align-items: center;
  display: flex;
  border-bottom: 1px solid black;
  margin:5px;
  background-color: aqua;

}
header img{
  width: 10 rem;
  margin:10px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: blueviolet;
}

header nav{
display: flex;
margin: 0;
display: contents;
}
header nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin:50px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
header nav ul a {
  color: rgb(30, 27, 27);
  margin: 25px;
  font-family: Arial, Helvetica, sans-serif;
} */