 *{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

header nav {
  background-color: rgb(0, 243, 101);
  display: flex;
  align-items: center;
  margin: 6px;
  justify-content: space-between;
  border: 1px solid grey;
  
}
header nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  /* position: fixed;
  left: 94%;
  transform: translate(-95%, -5%); */
}
header nav ul li {

  margin: 0px;

}
header nav div {
  width: 10 rem;
  margin: 1px 1px 1px 5px;
}
header nav img {

  width: 10rem;
  margin: 4px 4px;
  border-radius: 15px;
  border: 3px solid green;
}
header nav ul li a{

  margin-right:  100px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bold;
  color:rgb(23, 23, 23);

}
header nav ul li a:hover {
  color: #fafafa;
  transition: 300ms;
}

  
/* 
header {
  justify-content: space-around;
  align-items: center;
  display: flex;
  border-bottom: 1px solid black;
  margin:5px;
  background-color: aqua;

}
header img{
  width: 10 rem;
  margin:10px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: blueviolet;
}

header nav{
display: flex;
margin: 0;
display: contents;
}
header nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin:50px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
header nav ul a {
  color: rgb(30, 27, 27);
  margin: 25px;
  font-family: Arial, Helvetica, sans-serif;
 */
